  <div class="footer-container">
            <p>&copy; 2023 Todos los derechos reservados.</p>
            <p>Dirección: Honduras, Choluteca, El Triunfo</p>
            <p>Email: pastranae671@gmail.com | Teléfono: +123456789</p>
        </div>