 <header class="header">
    <h1>Ayuda Humanitaria</h1>
    <p>Uniendo esfuerzos para hacer del mundo un lugar mejor.</p>
  </header>

  <nav class="navigation">
    <ul>
      <li><a href="%BASE_URL%index.html">Inicio</a></li>
      <li><a href="%BASE_URL%adn.html">Acerca de Nosotros</a></li>
      <li><a href="%BASE_URL%nprogramas.html">Nuestros programas</a></li>
      <li><a href="%BASE_URL%cayudar.html">Como ayudar</a></li>
       <li><a href="%BASE_URL%galeria.html">Galeria</a></li>
      <li><a href="%BASE_URL%blog.html">Blog</a></li>
      <li><a href="%BASE_URL%eventos.html">Eventos</a></li>
      <li><a href="%BASE_URL%contactenos.html">Contactenos</a></li>
      <li><a href="%BASE_URL%donaciones.html">Donaciones</a></li>
      <li><a href="%BASE_URL%faq.html">FAQ</a></li>
    </ul>
  </nav>