<div class="menu-container">
  <h1>Una vida a la vez</h1>

  <ul class="event-list">
    <li class="event-item">
      <span class="event-number">1.</span>
      <a href="%BASE_URL%index.html">Inicio</a>
    </li>

    <li class="event-item">
      <span class="event-number">2.</span>
      <a href="#">Acerca de Nosotros</a>
    </li>

    <li class="event-item">
      <span class="event-number">3.</span>
      <a href="#">Nuestros Programas</a>
    </li>

    <li class="event-item">
      <span class="event-number">4.</span>
      <a href="#">Como Ayudar</a>
    </li>

    <li class="event-item">
      <span class="event-number">5.</span>
      <a href="#">Galeria de Fotos</a>
    </li>

    <li class="event-item">
      <span class="event-number">6.</span>
      <a href="#">Blog</a>
    </li>

    <li class="event-item">
      <span class="event-number">7.</span>
      <a href="#">Eventos</a>
    </li>

    <li class="event-item">
      <span class="event-number">8.</span>
      <a href="%BASE_URL%contactenos.html">Contáctanos</a>
    </li>

    <li class="event-item">
      <span class="event-number">9.</span>
      <a href="#">Donaciones</a>
    </li>

    <li class="event-item">
      <span class="event-number">10.</span>
      <a href="#">FAQ</a>
    </li>
  </ul>
</div>